/* Variables */

:root {
    --background_color: rgba(17, 17, 17, 1);
    --primary_1:#D30D60;
    --primary_2:#2C2660;
    --primary_gradient: linear-gradient(180deg, #D30D60 0%, #2C2660 100%);
    --complementary_1:#666666;
    --complementary_2: #FFFFFF;
    --black:#111111;
    --gray: rgba(255, 255, 255, 0.25);
  
    font-size: 16px;
  
    --font-size-xs: 0.875rem;
    --font-size-s: 1rem;
    --font-size-m: 1.125rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 2.25rem;
    --font-size-xxl: 2.625rem;
    --font-size-xxxl: 3.5625rem;
  
    --font-size-mobile-xs: 0.625rem;
    --font-size-mobile-s: 0.75rem;
    --font-size-mobile-m: 0.875rem;
    --font-size-mobile-l: 1rem;
    --font-size-mobile-xl: 1.125rem;
    --font-size-mobile-xxl: 1.25rem;
    --font-size-xxxl: 3.5625rem;
  
    --font-family-quicksand: "Quicksand";
  }
  
  /* Header */
  
  html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: var(--background_color);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .heading1 {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-xxl);
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
  }
  
  .heading2 {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-xl);
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
  }
  
  .heading3 {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-l);
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
  }
  
  .medium-text {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-m);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
  }
  
  .normal-text {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-s);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
  }
  
  .small-text {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-xs);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
  }
  
  .very-small-text {
    font-family: var(--font-family-quicksand);
    font-size: var(--font-size-mobile-xs);
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
  }
  
  .m-0 {
    margin: 0px;
  }
  
  .mt-0 {
    margin-top: 5px;
  }
  
  .ml-0 {
    margin-left: 5px;
  }
  
  .mr-0 {
    margin-right: 5px;
  }
  
  .m-1 {
    margin: 10px;
  }
  
  .mt-1 {
    margin-top: 10px;
  }
  
  .mt-2 {
    margin-top: 20px;
  }
  
  .mt-3 {
    margin-top: 30px;
  }
  
  .ml-1 {
    margin-left: 10px;
  }
  
  .ml-2 {
    margin-left: 15px;
  }
  
  .mr-1 {
    margin-right: 10px;
  }
  
  .mr-4 {
    margin-right: 25px;
  }
  
  .mr-2 {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: var(--complementary_2);
  }

  button {
    border: none;
    color: var(--complementary_2);
    text-decoration: none;
    background-color: var(--black);
    cursor: pointer;
  }
  
  p {
    margin: 0.25rem;
  }
  
  .red-text {
    color: var(--primary_1);
  }
  
  .btn {
    width: 100%;
    max-height: 3rem;
    line-height: 3rem;
    border-radius: 5.8125rem;
    text-align: center;
  }
  
  .btn-primary {
    background-color: var(--primary_1);
  }
  
  .btn-outline {
    background-color: var(--background_color);
    border: 0.0625rem solid var(--primary_1);
  }
  
  .grid {
    display: grid;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .justify-content-around {
    justify-content: space-around;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .align-items-start {
    align-items: flex-start;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  .text-center {
    text-align: center;
  }
  
  div.btn:hover  {
    background-color: var(--primary_1);
    color: var(--white);
  }
  
  .logo {
    max-width: 9.25rem;
  }
  
  .desktop-version {
    display: none;
  }
  
  .grid {
    display: grid;
    gap: 10px;
  }
  
  .wrapper {
    width: 100%;
    /* min-width: 26.8125rem; */
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--complementary_2);
  }
  
  .inner {
    width: 100%;
    max-width: 90.44%;
    margin: 0 auto;
    height: inherit;
    text-align: center;
  }

  .top-header {
    padding: 0.75rem 0.25rem;
    border-bottom: 0.0625rem solid var(--complementary_2);
    margin-bottom: 1.25rem;
}

.search-container input[type=text] {
    padding: 2px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: 2px solid var(--complementary_2);
    border-radius: 5.56rem;
}

.topnav {
    position: relative;
}

.search-container a {
    margin-left: 1rem;
    white-space: nowrap;
}

.search-container form {
    position: relative;
}

.search-container .searchIcon {
    position: absolute;
    right: 9px;
}


#myVideo {
    width: 24.625rem;
    max-height: 9.8125rem;
    object-fit: cover;
    border-radius: 1.25rem;
    opacity: 0.7;
}

.hero-header {
    margin-top: 1.25rem;
    position: relative;
}

.hero-header_video {
    position: relative;
    text-align: center;
}

div.hero-header_video .hero-header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.subscribe_text {
    padding: 0.625rem 2.875rem;
}

.subscribe_button a {
    background-image: var(--primary_gradient);
    color: var(--complementary_2);
    padding: 0.5rem 2.5rem;
    border-radius: 5.8125rem;
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.8125rem;
    margin-top: 2.0625rem;
}

.contact_us {
    background-color: #1E1E1E;
    padding: 0.625rem;
    margin-top: 2rem;
    border-radius: 0.625rem;
}

.contact_us a {
    margin:0rem 0.5rem;
}

.dataset {
    margin-top: 5.5rem;
}

.dataset-header {
    text-align: left;
}

.dataset-group_button {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.67rem;
}

.dataset-group_button_item {
    border-radius: 88.9412px;
    padding: 0.1875rem 1.375rem;
    border: 1px solid var(--gray);
}

.dataset-group_button .select{
    background-color: var(--black);
    padding-right: 1rem;
    color: var(--complementary_2);
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
}

.dataset-group_button .select option:hover {
    color: var(--primary_1);
}

.dataset-group_button_item span {
    white-space: nowrap;
    cursor: pointer;
}

.dataset-group_button_item span {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    color: var(--gray);
}

.table-pagination {
  margin-top: 2.2rem;
}

#prevButton img {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotation-expand-icon {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-active {
    color: var(--complementary_2);
    border: 1.5px solid var(--primary_1);
}

.btn-active span {
    color: var(--white);
}

.btn-non_active {
    color: var(--gray);
    border: 1.5px solid var(--complementary_1);
}

#datasets {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3.8125rem;
    border-radius: 15px;
    border-top-right-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
}

#datasets td, #datasets th {
    border: 1px solid #ddd;
    padding: 8px;
}

#datasets tr:hover {cursor: pointer;}

#datasets th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--black);
    color: white;
}

#dataset tbody {
    margin-top: 1rem;
}

.hidden_row { 
  display: none;
}

div.contact {
    margin-top: 7.875rem;
    margin-bottom: 7.875rem
}

div.contact h1 {
    text-align: left;
    margin: 33px 0px;
    font-weight: 600;
}

input[type=submit] {
    background-color: transparent;
    color: var(--primary_1);
    padding: 11px 20px;
    margin: 8px 0;
    border: 1px solid var(--primary_1);
    border-radius: 93px;
    cursor: pointer;
    width: 100%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #D30D60;
    color: var(--white);
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 16px;
    /* height: 100%; */
    margin: 8px 0;
    display: inline-block;
    border: 1.25px solid var(--complementary_2);
    color: var(--white);
    background-color: var(--background_color);
    border-radius: 10px;
    font-size: var(--font-size-l);
    box-sizing: border-box;
}

textarea {
    resize: none;
    min-height: 8rem;
}

footer {
    margin-top: 70px;
    border-top: 2px solid var(--complementary_2);
    padding: 12px 52px;
}

.col-2 {
    grid-column: 1/3;
}

div.footer-contact p.very-small-text {
    white-space: nowrap;
}



@media only screen and (min-width: 1190px) {
    .heading1 {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-xxxl);
        letter-spacing: 0px;
        font-weight: 700;
        font-style: normal;
    }
    
    .heading2 {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-xxl);
        letter-spacing: 0px;
        font-weight: 700;
        font-style: normal;
    }
    
    .heading3 {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-xl);
        letter-spacing: 0px;
        font-weight: 700;
        font-style: normal;
    }
    
    .medium-text {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-l);
        letter-spacing: 0px;
        font-weight: 400;
        font-style: normal;
    }
    
    .normal-text {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-m);
        letter-spacing: 0px;
        font-weight: 400;
        font-style: normal;
    }
    
    .small-text {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-s);
        letter-spacing: 0px;
        font-weight: 400;
        font-style: normal;
    }
    
    .very-small-text {
        font-family: var(--font-family-quicksand);
        font-size: var(--font-size-xs);
        letter-spacing: 0px;
        font-weight: 400;
        font-style: normal;
    }

    .wrapper {
        margin: 0 auto;
        min-width: auto;
    }
  
    .inner {
        max-width: 80rem;
        margin: 0 auto;
    }
  
    .desktop-version {
        display: flex;
    }
  
    .mobile-version {
        display: none;
    }

    .hero-header > div:nth-child(1) {
        flex-direction: row-reverse;
    }
    
    #myVideo {
        min-height: 51.5rem;
        min-width: 34rem;
        object-fit: cover;
        border-radius: 1.25rem;
        opacity: 0.7;
    }

    .hero-header_container {
        margin-right: 13.625rem;
    }

    .hero-header_img {
        position: absolute;
        top: 19.44rem;
        right: 21.125rem;
    }

    div.hero-header_container .hero-header_text {
        position: static;
        text-align: left;
        transform: none;
        margin-bottom: 0.8rem;
    }

    div.subscribe div.subscribe_text {
        text-align: left;
        padding: 0.625rem 7.625rem 0.625rem 0rem;
    }

    div.subscribe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    div.subscribe_button {
        margin-top: 1.75rem;
    }

    .subscribe_button a {
        background-image: none;
        color: var(--primary_1);
        border: 2px solid var(--primary_1);
    }
    
    .contact_us {
        padding: 1rem 8rem;
        max-width: 75%;
        margin: auto;
        position: absolute;
        bottom: -2rem;
        right: 8.5rem;
    }

    .contact_us a {
        margin: 0rem 1.5625rem;
    }

    .dataset {
      margin-top: 9rem;
    }

    .dataset-group_button {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .discucss-form {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }

    .discucss-form .form-contain {
        width: 50%;
    }

    .discucss-form h1 {
        margin-top: 5.5625rem;
        white-space: nowrap;
    }

    .form-image {
        /* height: 678px; */
        object-fit: cover;
        /* width: 517px; */
        border-radius: 25px;
        z-index: 50;
    }

    .form {
        grid-template-columns: auto auto;
        /* margin-left: 2px; */
        /* min-width: 697px; */
       
        border-radius: 30px;
        /* position: absolute; */
        /* padding: 40px 108px; */
        gap: 20px;
        /* top: 237px;
        right: -61px; */
    }

    .form-contain_header {
        margin-bottom: 3.1rem;
    }

    .form-contain_header p {
        text-align: left;
    }

    .form .div {
        min-width: 100px;
    }

    .col-mobile-2 {
        grid-column: 1/3;
    }

    input[type=submit] {
        background-color: transparent;
        color: var(--primary_1);
        padding: 11px 20px;
        margin: 8px 0;
        border: 1px solid var(--primary_1);
        border-radius: 93px;
        cursor: pointer;
        width: 30%;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #D30D60;
        color: var(--white);
    }

    input[type=text] {
        margin-top: 20px;
        width: 100%;
        padding: 15px;
        display: inline-block;
        border: 1.25px solid var(--complementary_2);
    }

    textarea {
        margin-top: 20px;
    }


    footer {
        margin-top: 1rem;
        margin-bottom: 2.4375rem;
    }

    .footer-container {
        flex-direction: row;
    }

    .footer-container div {
        align-items: flex-start;
    }

    .slogan-text {
        text-align: left;
        max-width: 20.6875rem;
    }

    .footer-contact {
        grid-template-columns: auto;
        gap: 1rem;
    }

    .col-2 {
        grid-column: 1/1;
    }

    div.footer-container .logo {
        max-width: 13rem;
        margin-left: -0.9rem;
    }
}



  